.pl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 50px;
  font-weight: 600;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.video-js .vjs-big-play-button{
  background-color: red !important;
}
.v1{
  margin-right: 20px;
  border-radius: 10px;
}
.v3{
  margin-top: 20px;
}
/* img{
  width: 500px;
  height: 500px;
} */



@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}
